@import 'vars.sass'
@import url("https://use.typekit.net/jfq2yde.css")

body
  background-color: #192026
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.btn
  background-color: transparent
  display: inline-block
  font-family: $para
  padding: 20px 30px
  border: 3px solid #ffffff
  border-radius: 50px
  cursor: pointer
  text-decoration: none
  text-transform: uppercase
  font-weight: 600
  font-size: 22px
  color: #ffffff
  transition: $transition
  margin: 0 15px 30px 15px
  outline: none
  &:hover, &:focus
    outline: none
  &:hover, &.active
    background-color: #ffffff
    color: $darkText
  @media all and (max-width: 768px)
    font-size: 14px
    padding: 10px 20px
    margin: 0 auto 15px auto
    box-sizing: border-box
    min-width: 70%


div.tracker
  position: absolute
  bottom: 30px
  left: 0
  width: 100%
  text-align: center
  z-index: 100
  color: #ffffff
  font-size: 20px
  font-weight: 600
  @media all and (max-width: 600px)
    display: none

ul.social
  position: absolute
  bottom: 10px
  left: 20px
  text-align: left
  margin: 0
  padding: 0
  z-index: 100
  color: #ffffff
  font-size: 20px
  font-weight: 600
  li
    display: inline-block
    a
      display: block
      color: #ffffff
      padding: 10px
      text-decoration: none
      img
        max-width: 35px
        @media all and (max-width: 768px)
          max-width: 25px

a.logo
  display: inline-block
  position: absolute
  bottom: 27px
  right: 30px
  text-align: right
  z-index: 100
  img
    max-width: 150px
  @media all and (max-width: 768px)
    img
      max-width: 100px

.gamble-aware
  display: inline-block
  position: absolute
  top: 27px
  right: 30px
  text-align: right
  z-index: 100
  img
    max-width: 150px
  @media all and (max-width: 768px)
    img
      max-width: 100px