<template lang="pug">
  .container
    no-ssr
      slick(
        ref="slick"
        :options="slickOptions"
        @reInit="handleReInit"
      )
        .question(v-for="question in questions")
          .inner
            p {{ question.questionName }}
            ul(:class="question.questionSlug")
              li.btn(v-for="answer in question.answers" @click="answerClick(question.questionSlug, answer.answerSlug)" :class="[{ active: answer.answerSlug === selectedBtn }, answer.answerSlug]")  {{ answer.answer }}
</template>

<script>
import VueMouseParallax from 'vue-mouse-parallax';

export default {
  components: {
  },
  data() {
    return {
      selectedBtn: '',
      slickOptions: {
        slidesToShow: 1,
        centerMode: true,
        centerPadding: '0',
        draggable: false,
        arrows: false,
        dots: false,
        infinite: false,
      },
    };
  },
  computed: {
    currentQuestionIndex() {
      return this.$store.state.main.currentQuestionIndex;
    },
    questions() {
      return this.$store.state.main.appData.questions;
    },
    questionsLength() {
      return this.questions.length;
    },
    currentSection() {
      return this.$store.state.main.currentSection;
    },
    userAnswers() {
      return this.$store.state.main.userAnswers;
    }
  },
  watch: {
    currentSection(newSection, oldSection) {
      if(oldSection === 'splash') {
        this.handleReInit();
      }
    },
  },
  mounted() {
  },
  methods: {
    handleReInit() {
      this.$nextTick(() => {
        this.$refs.slick.reSlick();
      });
    },
    answerClick(questionSlug, answerSlug) {

      if(this.userAnswers.find(answer => answer.questionSlug === questionSlug)) {
        return;
      }
      this.$store.commit('main/setUserAnswer', {
        questionSlug,
        answerSlug
      });
      if (this.currentQuestionIndex !== this.questionsLength) {
        this.selectedBtn = answerSlug;
        setTimeout(() => {
        this.$store.commit('main/incrementCurrentQuestionIndex');
          this.$refs.slick.next();
          this.selectedBtn = '';
        }, 500);
      }
      else {
        this.$store.commit('main/setSection', 'results')
      }
    }
  },
}
</script>

<style lang="sass" scoped>
  @import '../assets/sass/vars.sass'
  .container
    width: 100%
    height: 100%
  .question
    display: block
    position: relative
    height: 100vh
    width: 100%
    // background-color: #ededed
    text-align: center
    &:nth-of-type(even)
      // background-color: #c6c6c6
    .inner
      position: absolute
      width: calc(100% - 50px)
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      p
        font-family: $lato
        font-weight: 400
        font-size: 30px
        color: #ffffff
        line-height: 1.3em
        margin: 10px 0
        @media all and (max-width: 768px)
          font-size: 18px
      ul
        display: block
        margin: 40px 0 0 0
        padding: 0
        &.colour
          .btn
            &:hover
              color: #fff
          .blue
            background-color: rgba(blue, 0.5)
            &:hover
              background-color: blue
          .pink
            background-color: rgba(pink, 0.5)
            &:hover
              background-color: pink
          .green
            background-color: rgba(green, 0.5)
            &:hover
              background-color: green
          .yellow
            background-color: rgba(yellow, 0.5)
            &:hover
              background-color: yellow
        @media all and (max-width: 768px)
          margin: 30px 0 0 0
          li
            margin: 0 0 10px 0
            width: 100%
      @media all and (max-width: 768px)
        top: calc(50% - 40px)

</style>

<style lang="sass">
  .slick-slide
    background-size: cover
    background-position: 50% 50%
    background-repeat: no-repeat
    &:nth-of-type(2n-1)
      background-image: url('../assets/img/bg01.jpg')
    &:nth-of-type(2n)
      background-image: url('../assets/img/bg02.jpg')
    &:nth-of-type(3n)
      background-image: url('../assets/img/bg03.jpg')
    &:nth-of-type(4n)
      background-image: url('../assets/img/bg04.jpg')
</style>
