<template lang="pug">
  .container
    .inner
      p You got
      p.name {{bestMatch.name}}
      p.number-jockey &#35;{{bestMatch.horseNumber}} ridden by {{ bestMatch.jockeyName }}
      p.trainer Trained by {{ bestMatch.trainerName }}
      p.race-date Running in the Grand National on the 6th April
      div.link-container
        a.btn(href="https://www.betvictor.com/en-gb/sports/horse-racing" target="_blank") Check the odds
        a.btn(@click.prevent="reset()" href="#") Try Again
</template>

<script>

export default {
  components: {
  },
  computed: {
    resultByMatches() {
      return this.results.map(result => {
        let matches = 0;
        result.answers.forEach(answer => {
          this.userAnswers.forEach(uAnswer => {
            if (uAnswer.questionSlug === answer.questionSlug && uAnswer.answerSlug === answer.answerSlug) {
              matches += 1;
            }
          })
        })
        return {
          ...result,
          matches
        }
      });
    },
    bestMatch() {
      return this.resultByMatches.reduce((max, result) => max.matches > result.matches ? max : result);;
    },
    results() {
      return this.$store.state.main.appData.results;
    },
    userAnswers() {
      return this.$store.state.main.userAnswers;
    },
  },
  mounted() {
    this.$confetti.start({
      shape: 'rect',
    });
    setTimeout(() => {
      this.$confetti.stop();
    }, 5000);
  },
  methods: {
    reset() {
      this.$confetti.stop();
      this.$store.commit('main/setSection', 'splash')
      setTimeout(() => {
        this.$store.commit('main/reset');
      }, 500);
    },
  },
}
</script>

<style lang="sass" scoped>
  @import '../assets/sass/vars.sass'

  .container
    display: block
    position: relative
    height: 100vh
    width: 100%
    text-align: center
    background-size: cover
    background-position: 50% 50%
    background-repeat: no-repeat
    background-image: url('../assets/img/bg05.jpg')
    .inner
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: calc(100% - 50px)
      ul
        display: block
        margin: 20px 0 0 0
        padding: 0
        li
          list-style-type: none
          padding: 0
          margin: 0
      p
        font-family: $lato
        text-transform: uppercase
        font-weight: 400
        font-size: 30px
        color: #ffffff
        line-height: 0.8em
        margin: 10px 0
        &.name
          font-size: 67px
          font-weight: 600
          margin: 20px 0
        &.number-jockey
        &.race-date
          margin: 30px auto
          line-height: 1.2em
        @media all and (max-width: 768px)
          line-height: 1em
          font-size: 18px
          &.race-date
            margin: 15px auto
          &.name
            font-size: 26px
            margin: 15px 0 20px 0
      @media all and (max-width: 768px)
        top: calc(50% - 40px)

</style>
