<template lang="pug">
  .container
    .inner
      div
        h1 Grand National
      div
        h2 Horse Generator
      div
        button.btn(@click="enterBtnClick()") Get me a tip
</template>

<script>

export default {
  computed: {
    appDataz() {
      return this.$store.state.main.appDataz
    }
  },
  methods: {
    enterBtnClick() {
      this.$store.commit('main/setSection', 'quiz')
    }
  },
  async fetch({ store, params }) {
    await store.dispatch('main/getPosts', params.slug)
  }
}
</script>

<style lang="sass" scoped>
@import '../assets/sass/vars.sass'
.container
  min-height: 100vh
  display: block
  position: relative
  text-align: center
  background-size: cover
  background-position: 50% 50%
  background-repeat: no-repeat
  background-image: url('../assets/img/splash-bg2.jpg')
  z-index: 200
  .inner
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: calc(100% - 100px)
    h1
      font-family: $lato
      font-size: 80px
      color: #ffffff
      font-weight: 900
      margin: 0
      line-height: 1em
      display: inline-block
    h2
      font-family: $arial
      text-transform: uppercase
      font-weight: 100
      font-size: 27px
      letter-spacing: 20px
      color: #ffffff
      margin: 0
      line-height: 1.3em
      margin-bottom: 30px
      margin-left: 25px
      display: inline-block
    @media all and (max-width: 768px)
      h1
        font-size: 30px
      h2
        font-size: 18px
        letter-spacing: 0
        margin: 10px 0 30px 0

.links
  padding-top: 15px

</style>
