<template lang="pug">
  .container
    transition-group(name="fade")
      Splash(v-show="currentSection === 'splash'" key="splash")
      div.tracker(key="tracker") 0{{currentQuestionIndex}} / 0{{questionLength}}
      Quiz(v-show="currentSection === 'quiz'" key="quiz")
      Results(v-if="currentSection === 'results'" key="results")
    
    .gamble-aware(v-if="currentSection === 'results'")
      img(src="~/assets/img/begambleaware.png")
    ul.social(key="social")
      li
        a(href="#" v-on:click.prevent="facebookBtnClick")
          img(src="../assets/img/facebook.png" alt="Facebook")
      li
        a(href="#" v-on:click.prevent="twitterBtnClick")
          img(src="../assets/img/twitter.png" alt="Twitter")
    a.logo(key="logo-link" href="https://www.betvictor.com/" target="_blank")
      img(src="../assets/img/logo.png" alt="Logo")
</template>

<script>
import Splash from '../components/Splash';
import Quiz from '../components/Quiz';
import Results from '../components/Results';
import axios from 'axios';

export default {
  components: {
    Splash,
    Quiz,
    Results,
  },
  data() {
    return {
      domain: 'https://blog.betvictor.com/campaigns/horse-generator/',
    }
  },
  computed: {
    currentSection() {
      return this.$store.state.main.currentSection;
    },
    currentQuestionIndex() {
      return this.$store.state.main.currentQuestionIndex;
    },
    questionLength() {
      return this.$store.state.main.appData.questions.length;
    }
  },
  mounted() {
    // Questions Sheet
    axios.get('https://api.sheety.co/8d007c2f-4604-462c-98ca-06c6a854171f')

    .then((response) => {
      this.$store.commit('main/setQuestions', response.data)
    })
    .catch((error) => {
      this.$store.commit('main/setQuestions', 'error')
    });
    // Answers Sheet
    axios.get('https://api.sheety.co/14bc2f6e-8154-453f-ad68-e586ac8723fe')
    .then((response) => {
      this.$store.commit('main/setResults', response.data)
    })
    .catch((error) => {
      this.$store.commit('main/setResults', 'error')
    });

  },
  methods: {
    twitterBtnClick() {
      const twitterTxt = "Don’t know who to back in the Grand National? This generator has got you covered.";
      window.open(`https://twitter.com/intent/tweet?text=${twitterTxt} ${this.domain}`, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
    },
    facebookBtnClick() {
      console.log('facebook btn click');

      window.open(
        `https://www.facebook.com/sharer.php?u=${this.domain}`,
        'facebook-share-dialog',
        'width=600, height=600',
      );
    },
  },
}
</script>

<style lang="sass" scoped>
@import '../assets/sass/vars.sass'
.fade-enter-active, .fade-leave-active
  transition: opacity .5s
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  opacity: 0
</style>
